html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.container{
    width: 500px;
    margin-left: 0px;
    padding-top: 150px;
    display: inline-block;
}
img{
    display: inline-block;
    margin: 150px;
}
.container p label{
    display: block;
    margin-top: 10px;
}
.container p #input{
    width: 100%;
}
legend{
    text-align: center;
}

